
.header {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr min-content 1fr;
    height: 293px;
    font-size: 18px; 
}

.header__menu {
    padding-top: 121px;
    padding-bottom: 138px;
    padding-left: 50px;
    padding-right: 36.52px;
}


.header__links-list {
    display: flex;
    column-gap: 33px;
    max-width: 391.48px;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__links-list-item {
    text-decoration: underline;
    text-underline-offset: 4px;
    list-style: circle;
}

.header__logo {
    display: block;
    padding-top: 93.79px;
    padding-bottom: 103.37px;
}

.header__logo-image {
    width: 148px;
    height: 105px;
}

.address {
    display: flex;
    line-height: 24.3px;
    font-style: normal;
    flex-direction: column;
    padding: 82px 50px 100px 186px;
}

.address-box {
    max-width: 240px;
    height: 94px;
    
}  

.number, .mail {
    text-decoration: underline;
    text-underline-offset: 4px;
}

.cover {
    position:relative;
    width: 1100px;
    height: 757px;
    background-image: url(../images/cover.jpg);
    background-size: cover;
    background-position: center;
    z-index: -2;
    padding: 165px 50px 207px 50px;
    }
    
.overlay {
    min-height: 757px;
    position: absolute;
    z-index: -1;
    inset: 0;
    background: rgba(0,0,0,0.6);
}

.cover-title {
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-style: bold;
    font-weight: 700;
    font-size: 100px;
    letter-spacing: 30px;
    line-height: 114.9%;
}

.aligned-text {
   display: block;
}

.aligned-text_left {
    width: 286px;
    height: 115px;
    margin-right: auto;
}

.aligned-text_center {
    width: 339px;
    height: 115px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 22px;
    margin-bottom: 23px;
}

.aligned-text_right {
    width: 387px;
    height: 115px;
    margin-left: auto;
    margin-top: -3px;
}

.cover__description-text {
 word-spacing: 5px;
 font-size: 22px;
 color: rgb(255, 255, 255);
 line-height: 28px;
 text-transform: uppercase;
 
 }

.lots {
    margin: 180px 24px 120px 24px;
}

.header-lots {
    text-transform: uppercase;
}

.card-list {
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    column-gap: 25px;
    list-style: none;
    flex-direction: row;
}

.overlay-card-lot {
    position: absolute;
    background: rgba(0,0,0,0.6);
    width: 334px;
    height: 596px;
}

.card-lot-1 {
    background-image: url(../images/card-lot-01.jpg);
    width: 334px;
    height: 596px;
    background-size: cover;
    background-position: center;
}

.card-lot-2 {
    background-image: url(../images/card-lot-02.jpg);
    width: 334px;
    height: 596px;
    background-size: cover;
    background-position: center;
    column-gap: 25px;
}

.card-lot-3 {
    background-image: url(../images/card-lot-03.jpg);
    width: 334px;
    height: 596px;
    background-size: cover;
    background-position: center;
}

.description {
    width: 192px;
    height: 23px;
}

.lots-more {
   

}
.about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 1052px;
    height: 595px;
}

.logo-section-about {
    background-color: black;
    border-radius: 50%;
    width: 240px;
    height: 240px;
}

.logo_white {
    width: 148px;
    height: 114px;
}

.header-about {
    text-transform: uppercase;
}

.description_block {
    grid-column: 2;
    grid-row: 2;
}

.p_first {
    width: 688px;
    height: 120px;
}

.p_second {
    width: 693px;
    height: 168px;
   
}

.menu-list-footer {
    list-style: none;
}

.footer_menu_logo_socials {
    list-style: none;
}