
.header {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr min-content 1fr;
    height: 293px;
    font-size: 18px;
}

.header__menu {
    padding-top: 121px;
    padding-bottom: 138px;
    padding-left: 50px;
    padding-right: 36.52px;
}

.header__links-list {
    display: flex;
    column-gap: 33px;
    max-width: 391.48px;
}

.header__links-list-item_no-bullit {
    list-style: none;
}

.header__links-list-item {
    text-decoration: underline;
    text-underline-offset: 4px;
    list-style: circle;
}

.header__logo {
    display: block;
    padding-top: 93.79px;
    padding-bottom: 103.37px;
}

.header__logo-image {
    width: 148px;
    height: 105px;
}

.address {
    display: flex;
    line-height: 24.3px;
    font-style: normal;
    flex-direction: column;
    font-size: 18px;
}

.header-address-box {
    max-width: 240px;
    height: 94px;
    margin: 77px 50px 95px 186px;
}  

.number, 
.mail {
    text-decoration: underline;
    text-underline-offset: 4px;
}

.cover {
    position: relative;
    width: 1100px;
    height: 757px;
    background-image: url(../images/cover.jpg);
    background-size: cover;
    background-position: center;
    z-index: -2;
    padding: 165px 50px 207px 50px;
}

.overlay {
    min-height: 100%;
    position: absolute;
    z-index: -1;
    inset: 0;
    background: rgba(0,0,0,0.6);
}

.cover-title {
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    font-size: 100px;
    letter-spacing: 30px;
}

.aligned-text {
   display: block;
}

.aligned-text_left {
    width: 286px;
    height: 115px;
}

.aligned-text_center {
    width: 339px;
    height: 115px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.aligned-text_right {
    width: 387px;
    height: 115px;
    margin-left: auto;
}

.cover__description {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-top: 107px;
    margin-left: auto;
    margin-right: auto;
}

.cover__description-text {
    word-spacing: 19px;
    font-size: 22px;
    color: rgb(255, 255, 255);
    line-height: 28px;
    text-transform: uppercase;
}

.bet-button {
    border: 1px solid rgb(255, 255, 255);
    background-color: transparent;
    font-size: 22px;
    color: rgb(255, 255, 255);
    font-weight: 500;
    text-transform: uppercase;
    width: 256px;
    height: 51px;
}

.lots {
    display: flex;
    flex-direction: column;
    margin: 180px 24px 120px 24px;
}

.lots__heading {
    text-transform: uppercase;
    font-size: 40px;
    margin: 0 891px 27px 40px;
}

.lots__card-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: space-between;
    gap: 25px;
    list-style: none;
    flex-grow: 1;
}

.lots__card-list-item {
    width: 334px;
    min-height: 596px;
    background-size: cover;
    background-position: center;
    color: rgb(255, 255, 255);
}

.card_type_film {
    background-image: url(../images/card-lot-01.jpg);
} 

.card_type_book {
    background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
}

.card-link {
    height: 100%;
    text-decoration: none;
}

.card {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100%;
    z-index: 1;
    padding: 48px 40px 48px 40px;
}

 .card__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 120%;
    text-transform: uppercase;
    text-decoration: underline solid 1px;
    flex-grow: 1;
    text-underline-offset: 4px;
}

 .card__text {
    z-index: 2;
    line-height: 120%;
    font-size: 20px;
}

.lots__look-more-link {
    font-size: 20px;
    margin-top: 32px;
    margin-left: 40px;
    text-underline-offset: 5px;
}

.about {
    display: grid;
    grid-template-columns: 359px 1fr;
    grid-template-rows: 1fr 1fr;
    width: 1052px;
    height: 595px;
    margin: auto;
}

.about__logo {
    display: flex;
    background-color: black;
    border-radius: 50%;
    width: 240px;
    height: 240px;
    margin-left: 47px;
    margin-top: 35px;
}

.about__logo-image {
    width: 148px;
    height: 114px;
    margin: auto;
}

.about__title {
    text-transform: uppercase;
    font-size: 40px;
    margin-top: 135px;
}

.about__text {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 24px;
    width: 693px;
    font-size: 20px;
    line-height: 24px;
    margin-left: 359px;
}

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 180px;
    width: 1100px;
    margin-top: 178px;
    padding-top: 1px;
}

.footer-address-box {
    margin-left: 50px;
}

.footer__menu-list {
    list-style: none;
    font-size: 18px;
    text-align: center;
    width: 164px;
    margin-left: auto;
}

.footer__menu-link_active {
    text-decoration: none;
}

.footer__menu-link {
    text-underline-offset: 4px;
}

.footer__social-list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 240px;
    margin: 1px 50px 131px 177px;
}

.footer__social-icon {
    width: 48px;
    height: 48px;
}